@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<h1>@ViewData["Title"]</h1>

<p>@TempData["StatusMessage"]</p>

<p>Click <a asp-controller="Home" asp-action="Index">here</a> to confirm email and continue to site.</p>