@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Here at Seed Voyage we are committed to protecting your privacy.</p>
<p>Privacy is of the utmost importance to us.  That's why we've gone to extra measures in 
    assuring that your account and sensitive information stays secret.</p>
<p>We use password encrytion so that in case database information is leaked, you can
    have some peace of mind knowing that your information is not readily exposed.</p>